<nav class="navbar navbar-expand-lg navbar-light">
    <a class="navbar-brand" href="#">
        <img src="../../../../assets/image/logo_final.png" alt="logo" height="45">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mx-auto">
            <li class="nav-item">
                <a class="nav-link" routerLink="/home/dashboard">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/home/account">Account</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/home/dashboard">Profile</a>
            </li>
        </ul>
        <ul class="navbar-nav my-2 my-lg-0">
            <li class="nav-item active">
                <a class="nav-link d-flex align-items-center mr-2" href=".">
                    <mat-icon class="mr-2" fontIcon="logout"></mat-icon>
                    <span routerLink="/home/login">Logout</span>
                </a>
            </li>
        </ul>
    </div>
</nav>