<ul class="list-group">
  <li class="list-group-item" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
    <mat-icon fontIcon="home"></mat-icon>
    <a routerLink="/home/dashboard">Home</a>
  </li>

  <li class="list-group-item" >
    <mat-icon fontIcon="dashboard"></mat-icon>
    <a routerLink="/home/dashboard">Dashboard</a>
  </li>

  <li class="list-group-item" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
    <mat-icon fontIcon="login"></mat-icon>
    <a routerLink="/login">Login</a>
  </li>
</ul>
