.card-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); // Two columns
    gap: 1.5rem; // Spacing between cards
    width: 100%;

    .card {
        border: 1px solid #ccc;
        border-radius: 8px;
    }

    mat-icon {
        background: #072542;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 31px;
        color: #fff;
        font-size: 34px;
        border-radius: 8px 0px 0px 8px;
    }

    .card-body {
        align-items: center;
    }

    .card-content {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 3px;
        width: 100%;

        .card-title{
            text-transform: uppercase;
        }

        h5.card-title{
            font-size: 22px;
        }
    }
}
@media screen and (max-width: 768px) {
    .card-container {
        grid-template-columns: repeat(1, 1fr);
        gap: 0.5rem;
    }
}