.card-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); // Two columns
    gap: 1.5rem; // Spacing between cards
    // width: 100%;

    .card {
        border: 1px solid #ccc;
        border-radius: 8px;
    }

    mat-icon {
        background: #072542;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 40px;
        color: #fff;
        font-size: 40px;
        border-radius: 8px 0px 0px 8px;
    }

    h6 {
        padding: 26px 0px 0px 19px;
    }

    h5 {
        padding: 26px 19px 0px;
    }
}