.main-outer-container {
    .body-container {
        display: flex;
        flex-direction: row;

        .sidebar-section {
            width: 15%;
            background: #fff;
            padding: 15px 15px;
            border-right: 2px solid #cccc;
        }

        .main-container {
            padding: 15px 0px;
            height: calc(100vh - 60px);
            overflow: auto;
            width: 85%
        }
    }
}


@media screen and (max-width: 768px) {
    .main-outer-container {
        .body-container {
            flex-direction: column;

            .sidebar-section {
                display: none;
            }

            .main-container {
                width: 100%
            }
        }
    }
    
}