<!-- Add Dropdown  -->
<div class="dropdown-section">
  <div class="form-group" style="width: 100%;">
    <mat-form-field style="width: 100%;">
      <mat-label>Car Model</mat-label>
      <mat-select formControlName="carModel" multiple style="width: 100%;">
        @for (car of carModelList; track car.label) {
          <mat-option [value]="car.label">{{car.label}}</mat-option>
        }
      </mat-select>
    </mat-form-field>
  </div>
</div>


<div class="table-header-section">
    <!-- Add Serchbar -->
  <div class="filter-section">
    <mat-form-field>
      <mat-label>Search Any Part</mat-label>
      <input matInput (keyup)="applyFilter($event)" placeholder="Ex. SPARK PLUG" #input>
    </mat-form-field>
  </div>
  <!-- Add button -->
  <div class="action-button-section">
    <button mat-flat-button class="btn w-100" (click)="openDialog()">
      <mat-icon>add</mat-icon>  Add
    </button>
  </div>
</div>

<!-- Add table -->
<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource" matSort>

    <!-- partNumber -->
    <ng-container matColumnDef="partNumber">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Part Number </th>
      <td mat-cell *matCellDef="let row"> {{row.partNumber}} </td>
    </ng-container>
    <!-- partName -->
    <ng-container matColumnDef="partName">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Part Name </th>
      <td mat-cell *matCellDef="let row"> {{row.partName}} </td>
    </ng-container>
    <!-- partType -->
    <ng-container matColumnDef="carsModel">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Car Model </th>
      <td mat-cell *matCellDef="let row"> 
        <ng-container *ngFor="let car of row?.carsModel; let i = index">
          <span>{{car.name}},</span>
        </ng-container>
      </td>
    </ng-container>
    <!-- totalQuantity -->
    <ng-container matColumnDef="totalQuantity">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Total Quantity </th>
      <td mat-cell *matCellDef="let row"> {{row.totalQuantity}} </td>
    </ng-container>
    <!-- availableQuantity -->
    <ng-container matColumnDef="availableQuantity">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Available Quantity </th>
      <td mat-cell *matCellDef="let row"> {{row.availableQuantity}} </td>
    </ng-container>
    <!-- sellOutQuantity -->
    <ng-container matColumnDef="sellOutQuantity">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Sell Out Quantity </th>
      <td mat-cell *matCellDef="let row"> {{row.sellOutQuantity}} </td>
    </ng-container>
    <!-- price -->
    <ng-container matColumnDef="price">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Price </th>
      <td mat-cell *matCellDef="let row"> {{row.price}} </td>
    </ng-container>

    <!-- Action Column -->
    <ng-container matColumnDef="Action">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Action </th>
      <td mat-cell *matCellDef="let row">

        <button mat-icon-button color="primary" class="action-btn edit-btn mr-2" (click)="onEdit(row)">
          <mat-icon style="color:rgb(79, 43, 171);">edit</mat-icon>
        </button>
        <button  mat-icon-button aria-label="Example icon button with a delete icon" (click)="onDelete(row)">
          <mat-icon class="danger" style="color:rgb(236, 77, 77);">delete</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    <!-- Row shown when there is no matching data. -->
    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
    </tr>
  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
</div>