.table-header-section {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .filter-section {
        width: 66%;
    }

    mat-form-field {
        width: 100%;
    }

    button {
        margin-right: 5px;
    }

    // Actions buttons style



}

table th:last-child {
    width: 120px;
    text-align: center;
}




.dropdown-inline {
    display: inline-block;
    margin: 0 10px;
}


@media screen and (max-width: 768px) {
    .mat-elevation-z8 {
        width: 550px;
        max-width: 100%;
        overflow: auto;
    }

    .table-header-section {
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;

        .filter-section {
            width: 100%;
        }

        button {
            margin-right: 0px;
        }

        .action-button-section {
            display: flex;
            justify-content: space-between;
            width: 100%;
        }
    }
}