.table-header-section {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .filter-section {
        width: 66%;
    }

    mat-form-field {
        width: 100%;
    }

    button {
        margin-right: 5px;
    }

    // Actions buttons style

   

}

table th:last-child {
    width: 120px;
    text-align: center;
}




.dropdown-inline {
  display: inline-block;
  margin: 0 10px;
}
