/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

button{
    cursor: pointer;
}

.form-group {
    ng-multiselect-dropdown {
        .multiselect-dropdown {
            .dropdown-btn {
                padding: 11px 15px !important;
            }
        }
    }
}
.custom-table.mat-mdc-table {
    thead, th, .mat-mdc-header-cell {
        background-color: #072542;
        color: white;
        text-transform: uppercase;
        font-size: 10px;
        padding: 0 15px;
    }
    .mat-mdc-header-row, .mat-mdc-row{
        height: 46px;
    }
    .mat-sort-header-arrow{
        color: white;
    }
    .material-icons{
        font-size: 18px;
    }
}

.action-button-section {

    .btn,
    .mat-mdc-unelevated-button:not(:disabled) {
        background-color: #072542;
        margin-bottom: 15px;
        padding: 0px 20px;
        font-size: 14px;

        mat-icon {
            font-weight: 600;
        }

    }

     .action-header {
        text-align: center ;
    }

}

.table-header-section .mat-mdc-text-field-wrapper.mdc-text-field,
.search-section .mat-mdc-text-field-wrapper.mdc-text-field {
    height: 50px;
}
.table-container .mat-mdc-text-field-wrapper.mdc-text-field{
    height: 40px;
}

.form-control-section .mat-mdc-form-field-subscript-wrapper{
    display: none;
}
.form-control-section .mat-mdc-form-field-flex{
    height: 50px;
}